server {
    listen 80;
    server_name localhost;
    index index.html;
    root  /usr/share/nginx/html;

    location / {
        try_files $uri $uri/ /index.html =404;
    }

    location /api {
        proxy_pass http://apatrios-springbootapp-backend:8189/api;
    }
}
